<div class="jumbotron">
    <h1>OOPS!</h1>
    <p class="tagline">
        Could not find what you were looking for.
    </p>
    <p>How about something else? Here are few good ones.</p>
    <p>
        {{#link-to "period" "AAPL" "1m" class="btn btn-primary btn-lg"}}$ AAPL{{/link-to}}
        {{#link-to "period" "GOOG" "1m" class="btn btn-primary btn-lg"}}$ GOOG{{/link-to}}
        {{#link-to "period" "P" "1m" class="btn btn-primary btn-lg"}}$ P{{/link-to}}
        {{#link-to "period" "INTC" "1m" class="btn btn-primary btn-lg"}}$ INTC{{/link-to}}
        {{#link-to "period" "TWTR" "1m" class="btn btn-primary btn-lg"}}$ TWTR{{/link-to}}
    </p>
</div>